.Users {
    display: flex;
    width: 25vw;
    justify-content: flex-start;
    flex-direction: column;
    border-right: 1px solid blue;
}

.UsersOnline {
    padding: 20px;
    text-align: center;
    background: aquamarine;
    border-bottom: 1px solid;
}

.UsersList {
    background: aquamarine;
    border-radius: 30px;
    align-self: flex-start;
    padding: 10px 20px;
    margin-left: 10px;
}